#item-1 {
    display: inline;
    background-color: palevioletred;
    margin-left: 100ih;
}

#item-2 {
    display: inline;
    background-color: green;
    
}

#item-3 {
    display: inline;
    background-color: royalblue;
    
}
